@import "tailwindcss";
@import "@catppuccin/tailwindcss/config.css";
@plugin "@tailwindcss/typography";

@theme {
  --color-mocha: #1e1e2e;
  --color-macchiato: #24273a;
}

@custom-variant slider-thumb {
  &::-webkit-slider-thumb {
    @slot;
  }

  &::-moz-range-thumb {
    @slot;
  }
}

@custom-variant slider-track {
  &::-webkit-slider-runnable-track {
    @slot;
  }
}

@layer components {
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    position: absolute;
    background: transparent;
    pointer-events: none;
    z-index: 2;
  }

  .slider::-webkit-slider-runnable-track {
    height: 2px;
  }

  .slider-thumb::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    z-index: 3;
    transform: translateY(-25%);
  }

  .slider-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 3;
    transform: translateY(-25%);
  }
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}